{% extends 'tirawat/base.html' %}

{% block content %}

{% load static %}

<head>
    <title>FC-python wrapper</title>
    {% load static %}
    <script src="{% static '/js/fusioncharts.js' %}"></script>
    <script src="{% static '/js/fusioncharts.maps.js' %}"></script>
    <script src="{% static '/js/maps/fusioncharts.world.js' %}"></script>
    <script src="{% static '/js/themes/fusioncharts.theme.fusion.js' %}"></script>
</head>

<body>
    <div id="myFirstchart-container">{{ output|safe }}</div>
</body>


{% endblock content %}